@import "../../../assets/styles/vars";
@import "../../../assets/styles/effects";

.cta-btn {
  cursor: pointer;
  display: block;

  padding: 2rem 4rem;

  border: none;

  @include hoverOpacity();

  // btn size
  &-small {
    padding: 1rem 2rem;
  }

  // btn colors
  &-color {
    background-color: $color-accent;
  }

  &-black {
    background-color: $color-black;
  }

  &-transparent {
    background-color: transparent;

    border: 0.2rem solid $color-black;
  }
}
