@import "../../assets/styles/breakpoints";

.home-page {
  &__cards,
  &__categories,
  &__products,
  &__about {
    margin-top: 12rem;
  }

  &__products,
  &__categories {
    > h2 {
      text-align: center;
    }
  }

  &__cards,
  &__categories,
  &__products {
    > div {
      margin: 3.2rem auto;
    }

    @include bp-small {
      margin: 8rem 7.5%;
    }

    @include bp-mobile {
      margin: 8rem 2.5%;
    }
  }

  &__about {
    margin-bottom: 12rem;

    @include bp-small {
      margin: 8rem 7.5%;
    }

    @include bp-mobile {
      margin: 8rem 2.5%;
    }
  }
}
