@import "../../assets/styles/vars";
@import "../../assets/styles/breakpoints";
@import "../../assets/styles/effects";

.shop-page {
  padding: 4rem 0 8rem;

  &__products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    @include bp-small {
      grid-template-columns: repeat(3, 1fr);
    }

    // irregular breakpoint 1
    @media only screen and (max-width: 675px) {
      grid-template-columns: repeat(2, 1fr);
    }

    // irregular breakpoint 2
    @media only screen and (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
