// ---------------------------------------------------------- //
// ------------------------- COLORS ------------------------- //
// ---------------------------------------------------------- //

$color-white: #fafafa;
$color-gray: #bababa;
$color-gray-dark: #414141;
$color-black: #191919;

$color-accent: #eb2935;
$color-success: #29eb8e;

// ---------------------------------------------------------- //
// -------------------------- FONT -------------------------- //
// ---------------------------------------------------------- //

$font-main: "Roboto", sans-serif;

// ---------------------------------------------------------- //
// ---------------------- SCREEN SIZE ----------------------- //
// ---------------------------------------------------------- //

$ss-big: 1800px;
$ss-med: 1500px;
$ss-small: 1200px;
$ss-tablet: 900px;
$ss-mobile: 600px;
